<div id="response-fixed-options" style="display:none">

  <div id="question1-responses">
    <label style='color:#008cba'>Response text:</label>
    <input class="question1-responses" type='text' name="answer_choice[text]">
  </div>

  <button id="add-response" type="button">
    <span style="font-size:24px">+  </span>response
  </button>
  <button id="remove-response" style="display:none" type="button">
    <span style="font-size:24px">-  </span>response
  </button>
  <label style='color:#008cba'>Responses should appear as:</label>
  <input type='radio' style="color:#008cba" name="answer_choice[input_type]" value="select">  Dropdown Menu
  <input type='radio' style="margin-left:16px;color:#008cba" name="answer_choice[input_type]" value="radio">  Radio Buttons
  <input type='radio' style="margin-left:16px;color:#008cba'" name="answer_choice[input_type]" value="checkbox">  Checkboxes

</div>
