<div id="response-free-options" style="display:none">
  <select name='answertypeopen'>
    <option value="text">Free Response - Line Size</option>
    <option value="textarea">Free Response - Paragraph Size</option>
  </select>
</div>
