<div id="user-action-buttons" style="display:none">
  <button id="submit-question" type="button">
    Submit Question
  </button>
  <span id="question-validation" style="color:red; margin-left: 24px"></span>
  <br><br>
  <button type="submit"> Preview Survey</button>
  <input type="submit" value="Save Survey" class="button">
</div>

